
* {
  font-family: ‘SUIT’, sans-serif;
}

body{
    margin: 0;
}

.logo img {
    height: 10%;
    width: 10%;
    margin-top: 10px;
    margin-left: 10px;

}
.head{
  display: flex;
  justify-content: space-between;

}
section{
    background: url("https://i.imgur.com/83zgpBi.png");
    height: 100vh;

}

section:before{
    content:'';
    background: linear-gradient(to bottom,white,transparent);
    position: absolute;
    left: 0;
    height: 70%;
    width: 100%;
    z-index:1;
}


a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index:2;
  filter: drop-shadow(0 -6mm 5mm lightgray);
}

h2 {
  color: #ed2517;
  font-size: 2em;
}


.login_sns a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  background: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.login_id {
  width: 80%;
}

.login_id input {
  width: 85%;
  height: 40px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pw {
  margin-top: 20px;
  width: 80%;
}

.login_pw input {
  width: 85%;
  height: 40px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  margin-top: 30px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.submit {
  margin-top: 70px;
  width: 80%;
}
.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: #ed2517;
  /*background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));*/
  color: white;

  font-size: 1.2em;
  letter-spacing: 2px;
}


