
.logo img {
    height: 2vw;
    margin-top: 13px;
    margin-left: 10px;

}
.head{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 300px;
    margin-right: 300px;

}


* {
  outline: none;
}


.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.td input,
.td button {
  color: #fff;
  font-family: Nunito;
  font-size: 12px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 100%;
  padding: 35px;
  margin: -83px auto 0 auto;
  background-color: #ffd433;
  border-radius: 20px;
  box-shadow: 0 10px 40px #ffd433, 0 0 0 20px #fff8bf;
  transform: scale(0.2);
}

form {
  height: 96px;
}

input[type="text"] {
  width: 100%;
  height: 96px;
  font-size: 60px;
  line-height: 1;
}

input[type="text"]::placeholder {
  color: #ffffff;
  /*font-weight: bold;*/
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 84px;
  height: 96px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 43px;
  height: 43px;
  margin-top: 0;
    border: 15px solid #ffffff;
    background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

button span {
  position: absolute;
  top: 68px;
  left: 43px;
  display: block;
  width: 45px;
  height: 15px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
    border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

button span:before,
button span:after {
    background-color: #fff;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 67px;
  height: 15px;
  border-width: 0;
  background-color: #fff;
  border-radius: 20px;
}

#s-cover:hover span {
  top: 50%;
  left: 56px;
  width: 25px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #ffffff;
}



.logout img {
    height: 3vw;
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 95px;

}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home img{
    height: 3vw;
}

.category {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

.category img{
    height: 3vw;
}

.mypage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mypage img{
    height: 3vw;
}

.menu h6 {
    color: #a8a8a8;
    margin-top: 5px;

}

.mypage h6{
    margin-top: 6px;

}

/* 동요 카테고리 */

.category-container {
    background: rgba(246, 246, 246, 0.60);
}

.category-container h2{
    color: rgba(246, 246, 246, 0.6);
}

.category-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3px;
}

.category-wrapper a {
  text-decoration: none;
  margin: 0 7px;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  border-radius: 10rem;
  color: #fff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.03rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  text-decoration : none;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff883c;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #fd6801;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
  font-weight: bolder;
}
.button:hover:before {
  width: 100%;
}

/* 컨텐츠 */

.content-wrapper {
    display: flex;
    justify-content: center;
    background: rgba(246, 246, 246, 0.60);

}


@font-face {
    font-family: 'Binggrae';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/binggrae/BinggraeBold.ttf') format("truetype");
    font-display: swap;
}
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.thumbnail {
  font-family: 'Binggrae';
  position: relative;
  overflow: hidden;
  margin: 10px;
  max-width: 250px;
  height: 140px;
  width: 100%;
  color: #fc5e00;
  text-align: left;
  font-size: 16px;
    background: rgba(246, 246, 246, 0.60);
}
figure.thumbnail * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border-radius: 20px;
}
figure.thumbnail img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.thumbnail:after,
figure.thumbnail figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.thumbnail:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  border-radius: 20px;
}
figure.thumbnail figcaption {
  z-index: 1;
  padding: 40px;
}
figure.thumbnail h3,
figure.thumbnail .links {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}
figure.thumbnail h3 {
  line-height: 1.1em;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: uppercase;
  opacity: 0;
}
figure.thumbnail p {
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
figure.thumbnail i {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 20px 25px;
  font-size: 34px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
figure.thumbnail a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
figure.thumbnail:hover img,
figure.thumbnail.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.thumbnail:hover:after,
figure.thumbnail.hover:after {
  opacity: 1;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
figure.thumbnail:hover h3,
figure.thumbnail.hover h3,
figure.thumbnail:hover p,
figure.thumbnail.hover p,
figure.thumbnail:hover i,
figure.thumbnail.hover i {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  opacity: 1;
}



