<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="category.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


</head>
<body>
    <div class="head">
        <div class="logo"><a href="###"><img src="https://i.imgur.com/XTlqijX.png"></a></div>
        <div class="search-container">
            <table class="search-wrapper">
                <tr>
                    <td>
                        <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
                    </td>
                    <td>
                        <a href="#"><span class="material-icons-round">search</span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="logout"><a href="##"><img src="https://i.imgur.com/K7FSEfb.png"></a></div>
    </div>
    <div class="menu">
        <div class="home"><a href="###"><img src="https://i.imgur.com/R92gdq9.png"></a><h6>추천</h6></div>
        <div class="category"><a href="####"><img src="https://i.imgur.com/Qyg1WxM.png"></a><h6>카테고리</h6></div>
        <div class="mypage"><a href="#####"><img src="https://i.imgur.com/TVLDUIs.png"></a><h6>마이페이지</h6></div>
    </div>

    <div class="category-container">
        <div><h2>.</h2></div>
        <div class="category-wrapper">
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">인기동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">애창동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">놀이동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">생활동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">창작동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">전래동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">영어동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">교과서동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">오디오동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">중국어동요</span>
              </a>
            </div>
            <div class="content">
              <a href="#" class="btn">
                <span class="right title">만화주제가</span>
              </a>
            </div>
        </div>

    </div>
    <div class="content-container">
        <div class="category-content">
            <div class="first hero">
              <img class="hero-profile-img" src="https://i.imgur.com/BoIw4Ra.png" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>상어가족 | 아기상어 | 핑크퐁 상어가족</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="second hero">
              <img class="hero-profile-img" src="https://i.imgur.com/yu6rs4j.png" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>동물의 왕 사자 | 핑크퐁 동물동요</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="third hero">
              <img class="hero-profile-img" src="https://i.imgur.com/DogWP7f.jpg" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>중장비차송 | 자동차 노래 | 건설 크레인 | 운반차 덤프트럭 | 인기 동요 | 모두모두쇼</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
        </div>
        <div class="category-content">
            <div class="first hero">
              <img class="hero-profile-img" src="https://i.imgur.com/lfQl9x9.jpg" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>상어가족 | 아기상어 | 핑크퐁 상어가족</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="second hero">
              <img class="hero-profile-img" src="https://i.imgur.com/iGGEnIN.jpg" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>동물의 왕 사자 | 핑크퐁 동물동요</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="third hero">
              <img class="hero-profile-img" src="https://i.imgur.com/9Y8M1Q4.jpg" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>중장비차송 | 자동차 노래 | 건설 크레인 | 운반차 덤프트럭 | 인기 동요 | 모두모두쇼</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
        </div>
        <div class="category-content">
            <div class="first hero">
              <img class="hero-profile-img" src="https://i.imgur.com/BoIw4Ra.png" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>상어가족 | 아기상어 | 핑크퐁 상어가족</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="second hero">
              <img class="hero-profile-img" src="https://i.imgur.com/yu6rs4j.png" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>동물의 왕 사자 | 핑크퐁 동물동요</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
            <div class="third hero">
              <img class="hero-profile-img" src="https://i.imgur.com/DogWP7f.jpg" alt="">
              <div class="hero-description-bk"></div>
              <div class="hero-description">
                <p>중장비차송 | 자동차 노래 | 건설 크레인 | 운반차 덤프트럭 | 인기 동요 | 모두모두쇼</p>
              </div>
              <div class="hero-btn">
                <a href="#">노래 듣기</a>
              </div>
            </div>
        </div>
    </div>


</body>
</html>