{% extends 'base.html' %}
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'contents/css/detail.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
{% endblock static %}
{% block content %}
  <div class="body_container">
    <div class="body_inner">

      <div class="video_container">
        <div class="video_inner">
          <video width="700" height="450" controls="controls">
            <source src="/media/cc0-videos/flower.webm" type="video/webm">
            <source src="/media/cc0-videos/flower.mp4" type="video/mp4">
            Sorry, your browser doesn't support embedded videos.
          </video>
          <div class="songs_info">
            <div class="songs_title">
              <span>{{ post.post_title }}</span>
              <span class="material-icons-outlined">
                favorite_border
              </span>
            </div>
            <div class="songs_hits">
              <span>
                조회수 1회 , 좋아요 {{ post.like_count }}개
              </span>
            </div>
            <div class="songs_desc">
              <span>
                동요 설명
              </span>
            </div>
            <div class="songs_source">
              <span>
                출처 - 요기조기
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="thumbnail_list_container">
        <div class="thumbnail_list_inner">
          <h1>비슷한 동요<br>들어보기</h1>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
          <div class="thumbnail_box">
            <div class="thumbnail_img">
              <img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}
