{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'contents/css/index.css' %}">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="vid-container">
            <div class="vid-wrapper"></div>
                <div class="vid-head">
                    <div class="logo"><a href="###"><img src="https://i.imgur.com/XTlqijX.png"></a></div>
                    <div class="logout"><a href="##"><img src="https://i.imgur.com/K7FSEfb.png"></a></div>
                </div>
                <div class="vid-title">
                    <div class="title-view">
                      <h1 class="title">
                         오늘의</h1>
                      <h1 class="title2">
                         추천동요
                      </h1>
                      <h3 class="subtitle">
                        아기상어 생일축하송 <br>
                      </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="home"><a href="###"><img src="https://i.imgur.com/R92gdq9.png"></a><h6>추천</h6></div>
            <div class="category"><a href="####"><img src="https://i.imgur.com/Qyg1WxM.png"></a><h6>카테고리</h6></div>
            <div class="mypage"><a href="#####"><img src="https://i.imgur.com/TVLDUIs.png"></a><h6>마이페이지</h6></div>
        </div>
        <h2>오늘의 추천동요 더보기</h2>
        <div class="content-container">

        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/001.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/002.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/003.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/004.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/005.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/006.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/007.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/008.png" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/009.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/010.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/011.png" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/012.jpg" />
              <figcaption>
                <h1 class="title3"> 동요제목 </h1>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/001.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/002.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/003.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/004.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/005.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/006.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/007.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/008.png" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>
        <div class="content-wrapper">
            <figure class="thumbnail">
              <img src="static/009.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/010.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/011.png" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
            <figure class="thumbnail"><img src="static/012.jpg" />
              <figcaption>
                <h3>동요제목</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
        </div>

    </div>
    </section>


</body>
</html>