{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'contents/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'contents/css/particle.css' %}">
    <title>Title</title>
</head>
<body>
    <script type="text/javascript" src="{% static 'contents/js/paricle.js' %}"></script>
    <section>
        <div class="vid-container">
            <div class="vid-wrapper"></div>
                <div class="vid-head">
                    <div class="logo"><a href="/"><img src="https://i.imgur.com/XTlqijX.png"></a></div>
                    <div class="logout"><a href="logout/"><img src="https://i.imgur.com/K7FSEfb.png"></a></div>
                </div>
                <div class="vid-title">
                    <div class="title-view">
                      <h1 class="title">
                         오늘의</h1>
                      <h1 class="title2">
                         추천동요
                      </h1>
                      <h3 class="subtitle">
                        아기상어 생일축하송 <br>
                      </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="home"><a href="/index/"><img src="https://i.imgur.com/R92gdq9.png"></a><h6>추천</h6></div>
            <div class="category"><a href="/category/"><img src="https://i.imgur.com/Qyg1WxM.png"></a><h6>카테고리</h6></div>
            <div class="mypage"><a href="mypage/{{ user.id }}"><img src="https://i.imgur.com/TVLDUIs.png"></a><h6>
                마이페이지</h6></div>
        </div>
        <h2>오늘의 추천동요 더보기</h2>
        <div id="content-container">
            <div id="content-wrapper">
                {% for post in popular_post %}

                    <figure class="thumbnail">
                        <img src="{{ post.post_thumbnail }}"/>
                        <figcaption>
                            <h3>{{ post.post_title }}</h3>
                        </figcaption>
                        <a href="/detail/{{ post.post_id }}"></a>
                    </figure>

                {% endfor %}
            </div>
        </div>
    </section>


</body>
</html>