{% extends "base.html" %}
{% load static %}
{% block static %}
  <link rel="stylesheet" href="{% static 'users/css/mypage.css' %}">
{% endblock %}

{% block content %}

  <!-- user info box -->
  <div class="user_container">
    <div class="user_inner">
      <div class="user_box">
        <div class="user_info_box">
          <div class="user_img"><img id="profile" src="../../static/users/img/{{ profile.pf_image }}" alt=""></div>
{#            src="{% static 'users/img/{{profile.pf_image}}' %}" #}
          <div class="uesr_id">
            <h3>{{ profile.user.nickname }}</h3>
          </div>
        </div>
        <div class="user_img_change">
          <img id="change_profile" src="{% static 'users/img/account.png' %}" alt="버튼">
        </div>
      </div>
    </div>
  </div>

  <div class="string">
    <h1>❤️<br>좋아요 한 영상</h1>
  </div>

  <!-- likes vido section -->
  <div class="thumbnail_container">
    <div class="thumbnail_inner">
      <div class="thumbnail_box">
        <div class="thumbnail_img"><img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
      </div>
      <div class="thumbnail_box">
        <div class="thumbnail_img"><img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
      </div>
      <div class="thumbnail_box">
        <div class="thumbnail_img"><img src="https://phinf.pstatic.net/tvcast/20220126_56/SoOFe_1643177735466R8ieq_PNG/1643177693347.png?type=u748_420" alt=""></div>
      </div>

    </div>
  </div>

  <div id="modal_change_porfile" class="modal_overlay">
    <div class="modal_window">
      <form action="/mypage/{{ user.id }}" method="post" class="madal_wrap" id="change_profile_img">
          {% csrf_token %}
        <input type="radio" id="octonut" name="profile_img" value="octonut.png">
        <label for="octonut" class="octonut profile_img"></label>
        <input type="radio" id="tdkiz" name="profile_img" value="tdkiz.png">
        <label for="tdkiz" class="tdkiz profile_img"></label>
        <input type="radio" id="robocapoli" name="profile_img" value="robocapoli.png">
        <label for="robocapoli" class="robocapoli profile_img"></label>
        <input type="radio" id="tnitni" name="profile_img" value="tnitni.png">
        <label for="tnitni" class="tnitni profile_img"></label>
        <input type="radio" id="jinikiz" name="profile_img" value="jinikiz.png">
        <label for="jinikiz" class="jinikiz profile_img"></label>
        <input type="radio" id="ggomopop" name="profile_img" value="ggomopop.png">
        <label for="ggomopop" class="ggomopop profile_img"></label>
        <input type="radio" id="junitoni" name="profile_img" value="junitoni.png">
        <label for="junitoni" class="junitoni profile_img"></label>
        <input type="radio" id="congsun" name="profile_img" value="congsun.png">
        <label for="congsun" class="congsun profile_img"></label>
        <input type="radio" id="roti" name="profile_img" value="roti.png">
        <label for="roti" class="roti profile_img"></label>
        <div class="submit_btn">
          <button type="submit">프로필 사진 바꾸기</button>
        </div>
      </form>
    </div>
  </div>

</div>
</div>
<script type="text/javascript" src="{% static 'users/js/modal.js' %}"></script>
<script type="text/javascript" src="{% static 'users/js/change.js' %}"></script>
{% endblock %}