
<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'users/css/signin.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  </head>

  <body>
    <div class="logo"><img src="https://i.imgur.com/XTlqijX.png"></div>
    <section>
      <div class="wrap">
        <div class="login">
          <form action="/sign-in/" method="POST">
            {% csrf_token %}
            <h2>로그인</h2>
            <div class="login_id">
              <h4>아이디</h4>
              <input type="text" name="username" id="username" placeholder="아이디를 입력해주세요.">
            </div>
            <div class="login_pw">
              <h4>비밀번호</h4>
              <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="login_etc">
              <div class="forgot_pw">
                <a href="/sign-up/">아직 가입을 안하셨나요? 가입하기</a>
              </div>
            </div>
            <div class="submit">
              <input type="submit" value="Log in">
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>

</html>