{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="logo"><img src="/static/users/img/XTlqijX.png"></div>
      <a href="/sign-in/">
        <button class="btn_login">로그인</button>
      </a>
    </header>
    <section>
      <div class="wrap">
        <div class="inner">
          <h1>kizflix 지금 바로 가입해서<br>무제한으로 동요듣기</h1>
          <h4>무제한 동요 무료 듣기 플랫폼<br>지금 가입해보세요.</h4>
          <form action="/sign-up/" method="POST">
            {% csrf_token %}
            <input type="text" name="username" id="username" placeholder="아이디를 입력해주세요.">
            <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
            <input type="password" name="password2" id="password2" placeholder="비밀번호를 입력해주세요.(재확인)">
            <input type="text" name="nickname" id="nickname" placeholder="닉네임을 입력해주세요.">
            <input type="email" name="email" id="email" placeholder="이메일을 입력해주세요.">

            <button type="submit" class="btn_submit">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </section>

  </body>

</html>