{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'users/css/signup.css' %}">
    <link href="http://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="logo"><img src="/static/users/img/XTlqijX.png"></div>
      <button class="btn_login">로그인</button>
    </header>
    <section>
      <div class="wrap">
        <div class="inner">
          <h1>kizflix 지금 바로 가입해서<br>무제한으로 동요듣기</h1>
          <h4>무제한 동요 무료 듣기 플랫폼<br>지금 가입해보세요.</h4>
          <form action="" method="POST">
            <input type="text" name="" id="" placeholder="이름을 입력해주세요.">
            <input type="email" name="" id="" placeholder="아이디를 입력해주세요.">
            <input type="password" name="" id="" placeholder="비밀번호를 입력해주세요.">
            <button class="btn_submit">SUBSCRIBE</button>
          </form>
        </div>
      </div>
    </section>

  </body>

</html>